* {
    margin: 0;
    padding: 0;
}

body {

}

html {
    scroll-behavior: smooth;
}

.bg-test {
    background: rgba(34, 34, 34, 0.2);
}

.bg-white {
    background: white;
    border-bottom: .1px solid rgba(0, 0, 0, 0.062);
}
.carousel-inner{
    height: 50vh;
    background-color: black;

    .carousel-item{
        height: 100%;

        img{
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

.he-1{
    height: 100%;
    width: 100%;

    .ck{
        object-position: center;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}
.dropdown-menu{
    border: none;
    transition: .5s all;

    .dropdown-item{

        &:hover{
            font-weight: bold;
        }
    }
}
.container{

    .row{

        div{

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}

.card{
    .card-img-top{
        object-position: center;
        object-fit: cover;

        &:hover{
            opacity: 0.5;
        }
    }
}