* {
    margin: 0;
    padding: 0;
}

body {}

html {
    scroll-behavior: smooth;
}

.slider {
    .carousel {
        .carousel-inner {
            .carousel-item {
                img {
                    object-fit: cover;
                    object-position: bottom;
                }
            }
        }
    }
}

.contact {
    z-index: initial;
}

.bg-test {
    background: rgba(34, 34, 34, 0.2);
}

.bg-white {
    background: white;
    border-bottom: .1px solid rgba(0, 0, 0, 0.062);
}

.carousel-inner {
    height: 50vh;
    background-color: black;

    .carousel-item {
        height: 100%;

        img {
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

.he-1 {
    height: 100%;
    width: 100%;

    .ck {
        object-position: center;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.no-select {
    user-select: none;
}




// Group here

.dropdown-menu {
    border: none;
    transition: .5s all;

    .dropdown-item {

        &:hover {
            font-weight: bold;
        }
    }
}

.container {

    .row {

        div {

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}

.card {
    .card-img-top {
        object-position: center;
        object-fit: cover;

        &:hover {
            opacity: 0.5;
        }
    }

    .card-body {

        .card-link {
            color: red;
        }
    }
}

// .container {

//     .carousel {
//         .carousel-inner {
//             height: 70vh;
//             background: rgba(0, 0, 0, 0.301);

//             .container {
//                 height: 95%;
//                 width: 50vh;

//                 img {
//                     width: 100%;
//                     object-fit: cover;
//                     object-position: center;
//                 }
//             }
//         }
//     }
// }




//  certificate carousel
.certificates {
    height: 60vh;

    .swiper-container {
        width: 100%;
        height: 50vh;

        .swiper-wrapper {
            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;

                a {
                    height: 100%;

                    img {
                        height: 100%;
                    }
                }

                /*width:90%;*/

                img {
                    max-height: 100%
                }
            }
        }

        .swiper-pagination {
            z-index: 5;
        }
    }
}

// Modal
// true style modal
.modal {
    .modal-content {
        .modal-body {
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

// factory tong quan
.factory {
    .row {
        div {
            #carouselExampleControls {
                .carousel-inner {
                    .carousel-item {
                        img {
                            object-fit: contain;
                            object-position: center;
                        }

                        .carousel-caption {

                            h5,
                            p {
                                text-shadow: 2px 5px 3px #000000;
                            }
                        }
                    }
                }
            }
        }
    }
}

Contact .lienhe {
    .bodylh {
        .ggmap {
            .container-fluid {
                iframe {
                    border: 0;
                }
            }
        }
    }
}
