@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap');

*{
    font-family: 'Noto Sans JP', sans-serif;
    scroll-behavior: smooth;
}

body{

}
html{}

.carousel{
    .carousel-inner{
        .carousel-item{
            height: 50vh;
            img{
                object-position: center;
            }
        }
    }
}

a{
    text-decoration: none;
}
.text-decoration-none{
    text-decoration: none !important;
}
.n1{
    display: none;
}

.f-25{
    font-size: 25px;
}
.f-15{
    font-size: 15px;
}

.bg-nav-light{
    background-color: #179404;
}

p{ 
    font-size: 13px;
}



@media (max-width: 1200px){
    .n1{
        display: inline;
    }
}