/* line 1, ../scss/style.scss */
* {
  margin: 0;
  padding: 0; }

/* line 8, ../scss/style.scss */
html {
  scroll-behavior: smooth; }

/* line 12, ../scss/style.scss */
.contact {
  z-index: initial; }

/* line 16, ../scss/style.scss */
.bg-test {
  background: rgba(34, 34, 34, 0.2); }

/* line 20, ../scss/style.scss */
.bg-white {
  background: white;
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.062); }

/* line 25, ../scss/style.scss */
.carousel-inner {
  height: 50vh;
  background-color: black; }
  /* line 29, ../scss/style.scss */
  .carousel-inner .carousel-item {
    height: 100%; }
    /* line 32, ../scss/style.scss */
    .carousel-inner .carousel-item img {
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: center;
         object-position: center; }

/* line 40, ../scss/style.scss */
.he-1 {
  height: 100%;
  width: 100%; }
  /* line 44, ../scss/style.scss */
  .he-1 .ck {
    -o-object-position: center;
       object-position: center;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    width: 100%; }

/* line 52, ../scss/style.scss */
.no-select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

/* line 64, ../scss/style.scss */
.slider .carousel .carousel-inner .carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom; }

/* line 73, ../scss/style.scss */
.dropdown-menu {
  border: none;
  -webkit-transition: .5s all;
  transition: .5s all; }
  /* line 79, ../scss/style.scss */
  .dropdown-menu .dropdown-item:hover {
    font-weight: bold; }

/* line 91, ../scss/style.scss */
.container .row div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center; }

/* line 102, ../scss/style.scss */
.card .card-img-top {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover; }
  /* line 106, ../scss/style.scss */
  .card .card-img-top:hover {
    opacity: 0.5; }
/* line 113, ../scss/style.scss */
.card .card-body .card-link {
  color: red; }

/* line 120, ../scss/style.scss */
.certificates {
  height: 60vh; }
  /* line 123, ../scss/style.scss */
  .certificates .swiper-container {
    width: 100%;
    height: 50vh; }
    /* line 128, ../scss/style.scss */
    .certificates .swiper-container .swiper-wrapper .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      /*width:90%;*/ }
      /* line 146, ../scss/style.scss */
      .certificates .swiper-container .swiper-wrapper .swiper-slide a {
        height: 100%; }
        /* line 149, ../scss/style.scss */
        .certificates .swiper-container .swiper-wrapper .swiper-slide a img {
          height: 100%; }
      /* line 156, ../scss/style.scss */
      .certificates .swiper-container .swiper-wrapper .swiper-slide img {
        max-height: 100%; }
    /* line 162, ../scss/style.scss */
    .certificates .swiper-container .swiper-pagination {
      z-index: 5; }

/* line 172, ../scss/style.scss */
.modal .modal-content .modal-body {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat; }
  /* line 178, ../scss/style.scss */
  .modal .modal-content .modal-body img {
    width: 100%;
    height: 100%; }

/* line 193, ../scss/style.scss */
.factory .row div #carouselExampleControls .carousel-inner .carousel-item img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center; }
/* line 200, ../scss/style.scss */
.factory .row div #carouselExampleControls .carousel-inner .carousel-item .carousel-caption h5,
.factory .row div #carouselExampleControls .carousel-inner .carousel-item .carousel-caption p {
  text-shadow: 2px 5px 3px #000000; }

/* line 217, ../scss/style.scss */
.Contact .lienhe .bodylh .ggmap .container-fluid iframe {
  border: 0; }

/*# sourceMappingURL=style.css.map */