/* line 1, ../scss/style.scss */
* {
  margin: 0;
  padding: 0; }

/* line 8, ../scss/style.scss */
html {
  scroll-behavior: smooth; }

/* line 11, ../scss/style.scss */
.contact {
  z-index: initial; }

/* line 15, ../scss/style.scss */
.bg-test {
  background: rgba(34, 34, 34, 0.2); }

/* line 19, ../scss/style.scss */
.bg-white {
  background: white;
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.062); }

/* line 24, ../scss/style.scss */
.carousel-inner {
  height: 50vh;
  background-color: black; }
  /* line 28, ../scss/style.scss */
  .carousel-inner .carousel-item {
    height: 100%; }
    /* line 31, ../scss/style.scss */
    .carousel-inner .carousel-item img {
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: center;
         object-position: center; }

/* line 39, ../scss/style.scss */
.he-1 {
  height: 100%;
  width: 100%; }
  /* line 43, ../scss/style.scss */
  .he-1 .ck {
    -o-object-position: center;
       object-position: center;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    width: 100%; }

/* line 51, ../scss/style.scss */
.no-select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

/* line 60, ../scss/style.scss */
.dropdown-menu {
  border: none;
  -webkit-transition: .5s all;
  transition: .5s all; }
  /* line 66, ../scss/style.scss */
  .dropdown-menu .dropdown-item:hover {
    font-weight: bold; }

/* line 78, ../scss/style.scss */
.container .row div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center; }

/* line 89, ../scss/style.scss */
.card .card-img-top {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover; }
  /* line 93, ../scss/style.scss */
  .card .card-img-top:hover {
    opacity: 0.5; }
/* line 100, ../scss/style.scss */
.card .card-body .card-link {
  color: red; }

/* line 131, ../scss/style.scss */
.certificates {
  height: 60vh; }
  /* line 133, ../scss/style.scss */
  .certificates .swiper-container {
    width: 100%;
    height: 50vh; }
    /* line 138, ../scss/style.scss */
    .certificates .swiper-container .swiper-wrapper .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      /*width:90%;*/ }
      /* line 155, ../scss/style.scss */
      .certificates .swiper-container .swiper-wrapper .swiper-slide a {
        height: 100%; }
        /* line 158, ../scss/style.scss */
        .certificates .swiper-container .swiper-wrapper .swiper-slide a img {
          height: 100%; }
      /* line 164, ../scss/style.scss */
      .certificates .swiper-container .swiper-wrapper .swiper-slide img {
        max-height: 100%; }
    /* line 169, ../scss/style.scss */
    .certificates .swiper-container .swiper-pagination {
      z-index: 5; }

/* line 179, ../scss/style.scss */
.modal .modal-content .modal-body {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat; }
  /* line 184, ../scss/style.scss */
  .modal .modal-content .modal-body img {
    width: 100%;
    height: 100%; }

/* line 199, ../scss/style.scss */
.factory .row div #carouselExampleControls .carousel-inner .carousel-item img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center; }

/*# sourceMappingURL=style.css.map */