*{
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}

.link-footer{
    &:hover::before{
        content: '';
        display: inline-block;
        margin: left;
        padding-right: 4px;
        margin-right: 5px;
        margin-bottom: 0px;
        position: relative;
        height: 50%;
        background: white;
    }
}
footer{
    position: relative;
    &::before{
        content: "";
        height: 27px;
        width: 100%;
        background-color: rgba(0, 161, 13, 0.473);
        z-index: 10;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.dropdown-menu{
    li{
        a{
            color: white;
        }
        &:hover{
            a{
                color: black;
            }
        }

    }
}